In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('social_data.csv')

In [4]:
data.head(4)

,Unnamed: 0,created_at,id,text,truncated,in_reply_to_screen_name,retweet_count,favorite_count,favorited,retweeted,...,user.listed_count,user.favourites_count,user.verified,user.statuses_count,day,month,year,dayofweek,hour,minute
0,1,2018-07-09 10:26:27,1.016267e+18,fhumumakhwanya hi withdraw funds can transfer...,False,Fhumu_Makhwanya,0,0,False,False,...,409,9593,True,153810,9,Jul,2018,Mon,10,26
1,2,2018-07-09 10:39:38,1.016271e+18,gtalevi hi can please share information regar...,False,GTalevi,0,0,False,False,...,409,9593,True,153810,9,Jul,2018,Mon,10,39
2,3,2018-07-09 10:45:25,1.016272e+18,mandilele hi thank sharing experience us,False,Mandilele_,0,0,False,False,...,409,9593,True,153810,9,Jul,2018,Mon,10,45
3,4,2018-07-09 10:57:55,1.016275e+18,gtalevi please dm us homeloan account number ...,False,GTalevi,0,0,False,False,...,409,9593,True,153810,9,Jul,2018,Mon,10,57

In [5]:
data.drop(["created_at","id","text","in_reply_to_screen_name","favorite_count"], axis = 1, inplace = True)

In [6]:
data.columns = ['unnamed','truncated','retweet_count','favorited','retweeted','lang','user','user_screen_name','user_location','user_description','user_followers_count','user_friends_count','user_listed_count','user_favorites_count','user_verified','user_statuses_count', 'day','month','year','dayofweek','hour','minute']

ValueError: Length mismatch: Expected axis has 21 elements, new values have 22 elements

In [7]:
data.columns

Index(['Unnamed: 0', 'truncated', 'retweet_count', 'favorited', 'retweeted',
       'lang', 'user.screen_name', 'user.location', 'user.description',
       'user.followers_count', 'user.friends_count', 'user.listed_count',
       'user.favourites_count', 'user.verified', 'user.statuses_count', 'day',
       'month', 'year', 'dayofweek', 'hour', 'minute'],
      dtype='object')

In [8]:
data.drop(["created_at","id","text","in_reply_to_screen_name","favorite_count"], axis = 1, inplace = True)

ValueError: labels ['created_at' 'id' 'text' 'in_reply_to_screen_name' 'favorite_count'] not contained in axis

In [9]:
data.columns

Index(['Unnamed: 0', 'truncated', 'retweet_count', 'favorited', 'retweeted',
       'lang', 'user.screen_name', 'user.location', 'user.description',
       'user.followers_count', 'user.friends_count', 'user.listed_count',
       'user.favourites_count', 'user.verified', 'user.statuses_count', 'day',
       'month', 'year', 'dayofweek', 'hour', 'minute'],
      dtype='object')

In [10]:
data.columns = ['Unnamed', 'truncated', 'retweet_count', 'favorited', 'retweeted',
       'lang', 'user_screen_name', 'user_location', 'user_description',
       'user_followers_count', 'user_friends_count', 'user_listed_count',
       'user_favourites_count', 'user_verified', 'user_statuses_count', 'day',
       'month', 'year', 'dayofweek', 'hour', 'minute']

In [14]:
data.drop(['Unnamed'], axis = 1, inplace = True)

In [15]:
data.columns

Index(['truncated', 'retweet_count', 'favorited', 'retweeted', 'lang',
       'user_screen_name', 'user_location', 'user_description',
       'user_followers_count', 'user_friends_count', 'user_listed_count',
       'user_favourites_count', 'user_verified', 'user_statuses_count', 'day',
       'month', 'year', 'dayofweek', 'hour', 'minute'],
      dtype='object')

In [16]:
data.describe()

,retweet_count,user_followers_count,user_friends_count,user_listed_count,user_favourites_count,user_statuses_count,day,year,hour,minute
count,96562.000000,9.656200e+04,96562.000000,96562.000000,96562.000000,96562.000000,96562.000000,96562.000000,96562.000000,96562.000000
mean,4.618028,2.642655e+05,7206.822187,235.210155,3655.202626,99114.256757,15.433204,2017.593298,12.086452,28.642841
std,135.601225,3.068175e+05,14304.667692,255.069193,6283.913919,164098.258130,8.988841,0.624244,4.541799,17.643253
min,0.000000,1.268000e+03,3.000000,1.000000,8.000000,881.000000,1.000000,2015.000000,0.000000,0.000000
25%,0.000000,3.583900e+04,447.000000,30.000000,349.000000,14181.000000,8.000000,2017.000000,9.000000,13.000000
50%,0.000000,1.702860e+05,2957.000000,177.000000,1084.000000,48959.000000,15.000000,2018.000000,12.000000,29.000000
75%,1.000000,3.202100e+05,7828.000000,349.000000,3257.000000,116788.000000,24.000000,2018.000000,15.000000,44.000000
max,34655.000000,1.405699e+06,85586.000000,1129.000000,31645.000000,780324.000000,31.000000,2018.000000,23.000000,59.000000

In [17]:
print(data.shape)

(96562, 20)

In [19]:
# r' means regular expressions. The last bracket is to turn everything into a hashtag. the .*? are there in case someone used them instead of the #

data['user_description'] = data.user_description.str.findall(r'#.*?(?=\s|$)')

In [20]:
data.dtypes

truncated                   bool
retweet_count              int64
favorited                   bool
retweeted                   bool
lang                      object
user_screen_name          object
user_location             object
user_description         float64
user_followers_count       int64
user_friends_count         int64
user_listed_count          int64
user_favourites_count      int64
user_verified               bool
user_statuses_count        int64
day                        int64
month                     object
year                       int64
dayofweek                 object
hour                       int64
minute                     int64
dtype: object

In [22]:
def cats(df):

    text_cols = df.select_dtypes(include = ['object','bool'])
    
    for col in text_cols:
        
        df[col] = df[col].astype(str)
        
        df[col] = df[col].astype('category')
        
cats(data)

In [25]:
def my_labeler(df):
    
    cols = ['truncated','favorited','retweeted','lang','user_screen_name','user_description','user_verified','month','dayofweek']
    
    from sklearn.preprocessing import LabelEncoder
    
    l_encoder = LabelEncoder()
    
    for each in cols:
        
        df[each] = l_encoder.fit_transform(df[each])
        
my_labeler(data)

In [27]:
from sklearn.preprocessing import LabelEncoder

l_encoder = LabelEncoder()

data['user_location'] = l_encoder.fit_transform(data['user_location'].astype(str))

In [28]:
data.head(5)

,truncated,retweet_count,favorited,retweeted,lang,user_screen_name,user_location,user_description,user_followers_count,user_friends_count,user_listed_count,user_favourites_count,user_verified,user_statuses_count,day,month,year,dayofweek,hour,minute
0,0,0,0,0,5,26,12,0,120597,13723,409,9593,1,153810,9,5,2018,1,10,26
1,0,0,0,0,5,26,12,64376,120597,13723,409,9593,1,153810,9,5,2018,1,10,39
2,0,0,0,0,5,26,12,64375,120597,13723,409,9593,1,153810,9,5,2018,1,10,45
3,0,0,0,0,5,26,12,64374,120597,13723,409,9593,1,153810,9,5,2018,1,10,57
4,0,0,0,0,5,26,12,64373,120597,13723,409,9593,1,153810,9,5,2018,1,11,6

In [ ]:
colplots